<button>
  <img
    class="remove-image"
    src="../../assets/images/remove.png"
    alt="Remove"
    (click)="onItemRemove()"
  />
</button>

<a href="/update-dog-record/{{ dogItem.id }}">
  <img
    class="dog-image"
    [src]="thumbnail"
    alt="dog-image"
    onerror="this.src='assets/images/no-dog-placeholder.png';"
  />

  <h2 class="dog-name" [ngClass]="{ 'dog-requested': dogItem.adoptRequested }">
    {{ dogItem.name }}
  </h2>

  <h4 class="dog-details">{{ dogItem.breed }}</h4>
  <h4 class="dog-details">{{ dogItem.age }} year(s) old</h4>
</a>
