<header>
  <nav>
    <img src="../../assets/images/furever-logo.png" alt="logo image" />

    <div class="links">
      <div class="favorites">
        <img src="../../assets/images/request-icon.png" alt="" />
        <a href="/user-dog-requests">Requests</a>
      </div>

      <div class="dashboard">
        <img src="../../assets/images/dog-icon.png" alt="" />
        <a class="active" href="/user">Dashboard</a>
      </div>

      <div class="user">
        <img src="../../assets/images/user-icon.png" alt="" />
        <a style="pointer-events: none" href="/user">User</a>
      </div>

      <div class="logout" (click)="onUserLogout()">
        <img src="../../assets/images/logout-icon.png" alt="" />
        <a>Logout</a>
      </div>
    </div>
  </nav>
</header>

<div class="search-container">
  <input class="search-bar" type="text" placeholder="Dog Name" />
  <div>
    <img src="../../assets/images/search-icon.png" alt="search-icon" />
  </div>
</div>

<main>
  <aside>
    <!-- Filters -->
    <form action="">
      <label for="breeds">Breed</label>
      <input type="text" placeholder="Breed" />

      <label for="colors">Color</label>
      <input type="text" placeholder="Color" />

      <label for="sizes">Size</label>
      <input type="text" placeholder="Size" />

      <label for="sex">Sex</label>
      <select class="values" formControlName="Sex">
        <option>Male</option>
        <option>Female</option>
      </select>

      <label for="ages">Age</label>
      <input type="text" placeholder="Age" />

      <div class="button-container">
        <button class="reset" type="reset">Reset</button>
        <button class="search" type="submit">Filter</button>
      </div>
    </form>
  </aside>
  <div class="dog-container">
    <!-- Container for Dog Items -->
    <ud-dog-item *ngFor="let dog of dogs" [dogItem]="dog" class="dog-card" />
  </div>
</main>
