/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Farro:wght@300;400;500&family=Manrope:wght@200;300;400;500;800&family=Saira+Condensed:wght@100;400&display=swap");

:root {
  --bg-color: #efeef1;
  --text-color: #39433f;
  --primary-color: #a7d7c5;
  --secondary-color: #e3bc7b;
  --accent-color: #18c17c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body,
html {
  background-color: var(--bg-color);
  font-family: "Farro", "Courier New", Courier, monospace;
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  min-height: 180px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  padding-top: 20px;
}

a {
  text-decoration: none;
}
