<div class="signup-page">
    <div class="inner-page">
        <div class="signup-section">
            <img>
            <div class="signup-info">
                <p>Sign up</p>
                <span>Sign up for free and search for your ideal companion on four legs.</span>
                <span style="color: #18C17C;">Save a dog's life and discover the joy of adoption</span>

                <!-- Form Group -->
                <form>
                    <label for="email">Email Address:</label>
                    <input type="text">

                    <label for="password">Password:</label>
                    <input type="password">
                </form>

            </div>
        </div>
        <div class="image-display"></div>
    </div>
</div>