<header>
  <nav>
    <img src="../../assets/images/furever-logo.png" alt="logo image" />

    <div class="links">
      <div class="favorites">
        <img src="../../assets/images/request-icon.png" alt="" />
        <a class="active" href="/admin-dog-requests">Requests</a>
      </div>

      <div class="dashboard">
        <img src="../../assets/images/dog-icon.png" alt="" />
        <a href="/admin">Dashboard</a>
      </div>

      <div class="user">
        <img src="../../assets/images/user-icon.png" alt="" />
        <a style="pointer-events: none" href="/admin">Admin</a>
      </div>

      <div class="logout">
        <img src="../../assets/images/logout-icon.png" alt="" />
        <a href="/welcome">Logout</a>
      </div>
    </div>
  </nav>
</header>

<div class="header-container">
  <h1>Requests</h1>
</div>

<main>
  <div class="dog-container">
    <ng-template [ngIf]="dogItemWithReqs.length === 0">
      <div class="no-admin-dog-requests">
        There are currently no dog requests made by any user
      </div>
    </ng-template>
    <adr-dog-adopt-item class="dog-card" *ngFor="let dogItemWithReq of dogItemWithReqs" [dogItem]="dogItemWithReq"
      (itemReloadEvent)="onItemsReload()" />
  </div>
</main>