<header>
  <nav>
    <img src="../../assets/images/furever-logo.png" alt="logo image" />

    <div class="links">
      <div class="favorites">
        <img src="../../assets/images/request-icon.png" alt="" />
        <a href="/admin-dog-requests">Request</a>
      </div>

      <div class="dashboard">
        <img src="../../assets/images/dog-icon.png" alt="" />
        <a class="active" href="/admin">Dashboard</a>
      </div>

      <div class="user">
        <img src="../../assets/images/admin-icon.png" alt="" />
        <a style="pointer-events: none" href="/admin">Admin</a>
      </div>

      <div class="logout">
        <img src="../../assets/images/logout-icon.png" alt="" />
        <a (click)="onAdminLogout()">Logout</a>
      </div>
    </div>
  </nav>
</header>

<div class="search-container">
  <input class="search-bar" type="text" placeholder="Search..." [(ngModel)]="nameFilter" (input)="onFilterApplied()" />
  <div>
    <img src="../../assets/images/search-icon.png" alt="search-icon" />
  </div>
</div>

<main>
  <aside>
    <div>
      <label for="breeds">Breed</label>
      <input type="text" placeholder="Breed" [(ngModel)]="breedFilter" (input)="onFilterApplied()" />

      <label for="colors">Color</label>
      <input type="text" placeholder="Color" [(ngModel)]="colorFilter" (input)="onFilterApplied()" />

      <label for="sizes">Size</label>
      <select class="values" [(ngModel)]="sizeFilter" (change)="onFilterApplied()">
        <option value=""></option>
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
      </select>

      <label for="sex">Sex</label>
      <select class="values" [(ngModel)]="sexFilter" (change)="onFilterApplied()">
        <option value=""></option>
        <option>Male</option>
        <option>Female</option>
      </select>

      <label for="ages">Age</label>
      <input type="number" placeholder="Age" [(ngModel)]="ageFilter" (input)="onFilterApplied()" />

      <div class="button-container">
        <button class="reset" (click)="onFiltersReset()">Reset</button>
      </div>
    </div>
  </aside>

  <div class="dog-container">
    <!-- Dog Items -->
    <ad-dog-item *ngFor="let dog of filteredDogs" class="dog-card" [dogItem]="dog" (itemReloadEvent)="onItemsReload()" />

    <!-- Add Dog -->
    <div class="add-dog-card">
      <a href="/add-dog-record">
        <img src="../../assets/images/add-icon.png" alt="add icon" />
        <p>Add Dog</p>
      </a>
    </div>
  </div>
</main>